@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
$font-default: 'Roboto', sans-serif;
$main-background: #ffffff;
$background-content: #fafafa;
$background-gradient: linear-gradient(135deg,#7039CA 20%, #FA4A4D 150%);
$black_backround: #0F1535;
$color-primary: #7039CA;
$color-second: #6202FF;
$black: #000000;
$light_black: #3E3D53;
$red: #FA4A4D;
$white: #fff;
$light_gray: #979797;
$light_gray2: #D8D8D8;
$light_gray3: #F0F0F0;
$gray: #B3B3B3;
$border_gray: #F4F4F4;
$green: #16B853;
$violet: #7039CA;
$violet2: #7039CA;
$yellow: #FFDB6F;
$orange: #FFB300;
$beige: #fbfbfb;
$beige-light: #FAFAFA;
$beige-light2: #FCFCFC;

